@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }

  body {
    @apply font-overused_grotesk antialiased bg-bg px-6 sm:px-[5%] text-accent box-border;
  }
  img,
  svg {
    display: block;
    max-width: 100%;
  }

  p {
    @apply tracking-base;
  }

  .section-padding {
    @apply px-6 sm:px-[5%];
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply tracking-close;
  }

  ::-moz-selection {
    background: #555555;
  }
  ::-webkit-selection {
    background: #555555;
  }
  ::selection {
    background: #555555;
  }
}
