@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        /* border: 1px solid red; */
    }

    ::-moz-selection {
        background: #555555
      }
      ::-webkit-selection {
        background: #555555
      }
      ::selection {
        background: #555555
      }

}